/* стили для всех блоков */
*{
    /* внутренние отступы */
    padding: 0;
    /* внешние отступы */
    margin: 0;
    /* надо */
    box-sizing: border-box;
}
/* стили для боди */
body{
    /* цвет блока */
    background-color: rgb(0, 0, 0);
    /* цвет текста */
    color: #fff;
}
/* стили для тега хедер */
header{ 
    /* тип позиционирования: фиксирует (прозрачность) */
    position: fixed;
    /* размещение шапки относительно верха страницы */
    top: 0;
        /* свойства для определения типа размещения элементов внутри блока */
    display: flex;
    /* раснянуть элементы внутри блока по ширине */
    justify-content: space-between;
    /* разместить элементы внутри блока вертикально по центру */
    align-items: center;
/* ширина */
    width: 100%;
    /* высота */
    height: 64px;
    /* внутренние отступы: сверху справа снизу слева */
    padding: 0 20px 0 20px;
    /* цвет фона блока */
    background-color: rgba(0, 0, 0, 0.224);
}
/* обращаемся к блоку с классом меню */
 
.lang{
    /* размер текста */
    font-size: 24px;
     /* расстояние между буквами текста */
    letter-spacing: 3px;
}
/* стили для тега меин */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 64px 0 0 0;
}
p{
    font-size: 50px;
    margin: 70px 70px;
     color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.388);
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 64px 0 0 0px;
}
.section-albom{
    display: flexbox;
    justify-content: space-between;
    align-items: center; 
    margin: 0 0 0 0;
    background-image: 
    url(./97b079ba32e7dac5b40b9e0deed6fef7.jpg);
    background-size: auto;
}

.elem-a{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin: 70px 0 60px 0;
    font-size: 20px;
    background-color: #679cd400;;
    max-width: 1024px;
    color: rgb(31, 31, 31);
}
.elem-a:hover{
    color: rgb(64, 0, 255);
}
.column-a{
    height: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
}
.column-a:hover{
    color: antiquewhite;
}
.elem-b{
    width: 100%;
    max-width: 1024px;
}
.elem-b-img{
    width: 45%;
    margin: 0 0 0 30px;
    max-width: 1024px;
}
.elem-c{
    width: 40%;
    font-size: 11px;
    margin: 0 10% 15% 50%;
    max-width: 1024px;
    color: rgb(25, 35, 78);
}
.video{
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: -100% 0 0 0;
}

footer{
     /* размещение шапки относительно низа страницы */
     bottom: 0;
         /* свойства для определения типа размещения элементов внутри блока */
     display: flex;
     /* раснянуть элементы внутри блока по ширине */
     justify-content: space-between;
     /* разместить элементы внутри блока вертикально по центру */
     align-items: center;
 /* ширина */
     width: 100%;
     /* высота */
     height: 60px;
     /* внутренние отступы: сверху справа снизу слева */
     padding: 0 20px 0 20px;
     /* цвет фона блока */
     background-color: rgb(42, 41, 41);
}
.family{
    font-size: 20px;
    margin: 0 0 0 10%;
}
.family:hover{
    color: rgb(146, 146, 146);
}
.g{
    margin: 0 10% 0 0%;
}
.youtube{
    width: 30px;
}
.face{
    width: 23px;
    margin: 0 0 4px 10px;
}
.tw{
    width: 25px;
    margin: 0 0 2px 10px;
}
.inst{
    width: 25px;
    margin: 0 0 2px 10px;
}